<div class="po-md-12">
  <po-widget>
    <div class="po-md-6">
      <div class="po-md-12">
        <label for="new-note" class="po-label">Adicionar lembrete</label>
      </div>
      <div class="po-md-6">
        <input id="new-note" class="po-input" placeholder="Título" #listTitle />
      </div>
      <po-button p-label="Adicionar" p-type="button" (p-click)="add(listTitle.value); listTitle.value=''"> </po-button>
    </div>
    <!-- <div class="po-md-6 po-lg-3">
      <po-select
        name="select" p-label="Prioridade" #listPriority [p-options]="[
          { label: 'Baixa', value: 'baixa' },
          { label: 'Média', value: 'media' },
          { label: 'Alta', value: 'alta' }
        ]">
      </po-select>
    </div> -->
    <!-- <div class="po-md-6 po-lg-3">
      <input class="po-input" placeholder="Descrição" #listDescription />
    </div> -->
    <!--  -->    
    <app-list-search></app-list-search>
    
    <!--  -->
    <ul class="po-row lists">
      <li class="po-md-3" *ngFor="let list of lists">   
        <a routerLink="/detail/{{list.id}}" class="po-md-3">
          <span class="badge">{{list.id}}</span> 
          <span class="po-label"><b>Item: </b>{{list.title}} </span><br>
          <span class="po-label"><b>Prioridade:</b> {{list.priority}} </span> <br>
          <span class="po-label"><b>Descrição:</b> {{list.description}}</span> 
        </a>
        <button type="button" class="delete" title="Deletar" (click)="delete(list)">x</button>
      </li>
    </ul>
  </po-widget>
</div>

<app-list-detail></app-list-detail>
