/* listsComponent's private CSS styles */
.lists {
  list-style-type: none;

    li {
        position: relative;
        cursor: pointer;
        margin: 15px 0 0 0;
    }

    li:hover {
        left: .1em;
    }

    a {
        color: #333;
        text-decoration: none;
        background-color: #EEE;
        margin: .5em 0;
        padding: 10px;
        border-radius: 4px;
        display: block;
        width: 100%;
        border: 0;
    }

    a:hover {
        color: #2c3a41;
        background-color: #e6e6e6;
    }

    a:active {
        background-color: #525252;
        color: #fafafa;
    }

    .badge {
        display: none;
        font-size: small;
        color: white;
        padding: 0.8em 0.7em 0 0.7em;
        background-color: #405061;
        line-height: 1em;
        position: relative;
        left: -1px;
        top: -4px;
        min-width: 16px;
        text-align: right;
        margin-right: .8em;
        border-radius: 4px 0 0 4px;
    }
}

.add-button {
 padding: .5rem 1.5rem;
 font-size: 1rem;
 margin-bottom: 2rem;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}

button.delete {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: white;
  border-radius: 4px;
  color: #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
  border: 0;
}

button.delete:hover {
  background-color: #525252;
  color: white;
}